.chat-window {
  display: flex;
  height: 100vh;
}

.chat-list-container {
  flex: 0 0 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

.chat-view-container {
  flex: 1;
  padding: 20px;
}

.chat-filters {
  margin-bottom: 10px;
}

.chat-list {
  flex: 0 0 250px;
  background-color: #f5f5f5;
  padding: 10px;
}

.chat-item {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.chat-item:hover {
  background-color: #eaeaea;
}

.chat-item.selected {
  background-color: #d3d3d3;
}

.chat-item-info {
  display: flex;
  align-items: center;
}

.chat-item-info img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.chat-item-title {
  font-weight: bold;
}

.chat-item-order-id {
  color: #666;
  margin-top: 5px;
}

.chat-item-date {
  color: #666;
  margin-top: 5px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  border-left: 1px solid #ddd;
   align-items: flex-end;
}

.no-chat-selected,
.no-messages {
  text-align: center;
  color: #999;
  margin-top: 20px;
}
